<p id="notice"><%= notice %></p>

<p>
  <strong>Original url:</strong>
  <%= @short_url.original_url %>
</p>

<p>
  <strong>Shorty:</strong>
  <%= @short_url.shorty %>
</p>

<p>
  <strong>Visits count:</strong>
  <%= @short_url.visits_count %>
</p>

<%= link_to 'Back', short_urls_path %>
